<div class="container">
    <div class="row" id="row1">
      <div class="col-md-6">
          <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eventModal">Add New Event</a>
      </div>
      <div class="col-md-6">
          <a class="btn btn-success" (click)="ViewOrders()">View All Orders</a>
      </div>


        <!-- <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#eventModal" type="submit">Add Event</button> -->
    </div>


    <mat-tab-group>
      <mat-tab label="Add Event"> 
        

    <div class="row" id="row3">
      <div class="mat-elevation-z8 table1">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="eventId">
              <th mat-header-cell *matHeaderCellDef> Event ID </th>
              <td mat-cell *matCellDef="let element"> {{element.eventId}} </td>
            </ng-container>


            <ng-container matColumnDef="eventName">
              <th mat-header-cell *matHeaderCellDef> Event Name </th>
              <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
            </ng-container>


            <ng-container matColumnDef="NoOfTickets">
              <th mat-header-cell *matHeaderCellDef> No of Tickets </th>
              <td mat-cell *matCellDef="let element"> {{element.NoOfTickets}} </td>
            </ng-container>


            <ng-container matColumnDef="eventCategoryName">
              <th mat-header-cell *matHeaderCellDef> Event Category Name </th>
              <td mat-cell *matCellDef="let element"> {{element.eventCategoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="ticketCategoryName">
              <th mat-header-cell *matHeaderCellDef> Ticket Category Name </th>
              <td mat-cell *matCellDef="let element"> {{element.ticketCategoryName}} </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
              <th mat-header-cell *matHeaderCellDef> Start Date </th>
              <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
              <th mat-header-cell *matHeaderCellDef> End Date </th>
              <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
  </div>

</div>
      
</mat-tab>
      
<mat-tab label="
add Event"> 
  

  <div class="row" id="row3">
    <div class="mat-elevation-z8 table1">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="eventId">
            <th mat-header-cell *matHeaderCellDef> Event ID </th>
            <td mat-cell *matCellDef="let element"> {{element.eventId}} </td>
          </ng-container>


          <ng-container matColumnDef="eventName">
            <th mat-header-cell *matHeaderCellDef> Event Name </th>
            <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
          </ng-container>


          <ng-container matColumnDef="NoOfTickets">
            <th mat-header-cell *matHeaderCellDef> No of Tickets </th>
            <td mat-cell *matCellDef="let element"> {{element.NoOfTickets}} </td>
          </ng-container>


          <ng-container matColumnDef="eventCategoryName">
            <th mat-header-cell *matHeaderCellDef> Event Category Name </th>
            <td mat-cell *matCellDef="let element"> {{element.eventCategoryName}} </td>
          </ng-container>

          <ng-container matColumnDef="ticketCategoryName">
            <th mat-header-cell *matHeaderCellDef> Ticket Category Name </th>
            <td mat-cell *matCellDef="let element"> {{element.ticketCategoryName}} </td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
</div>

</div>
</mat-tab>
      
</mat-tab-group>







</div>


<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel"
aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog  modal-dialog-scrollable modal-lg">
    <div class="modal-content">

      <form role="form" method="POST" action="">
          <div class="modal-header">
            <p class="modal-title mt">Event Details</p>
            <!-- <h5 class="modal-title" id="eventModalLabel">Event Details</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">



          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Add</button>
            </div>
          </form>

    </div>
  </div>
</div>


