<mat-toolbar>
    <mat-toolbar-row class="row1" >
        <div class="col-md-4">

            <h4>Projects</h4>
            <ul>
                <li> 
                    <a class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google
                    </a>
                </li>
                <li>
                    <a class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                </li>
            </ul>           
        </div>

        <div class="col-md-4">
            <h4>Get Help</h4>
            <ul>
                <li> 
                    <a class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google
                    </a>
                </li>
                <li>
                    <a class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                </li>
            </ul>     
        </div>
        <div class="col-md-4">
            <h4>Follow Us</h4>
            <ul>
                <li> 
                    <a class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google
                    </a>
                </li>
                <li>
                    <a class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>
                </li>
            </ul>     
        </div>
       
        
    </mat-toolbar-row>

    <mat-toolbar-row class="row2" >
        <p><span>All rights reserved.</span> 2019-{{copyrightYear}} &copy; sonta-software limited</p>
    </mat-toolbar-row>

</mat-toolbar>

    




<!-- <div class="container">
    <footer class="footer_area">
        <div class="row" id="row1">
            <div class="col-md-8">
                <a class="google btn">
                    <i class="fa fa-google fa-fw"></i> Login with Google
                </a>
                <a class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
            </div>
            <div class="col-md-8">
            
                <a class="google btn">
                    <i class="fa fa-google fa-fw"></i> Login with Google
                </a>
                <a class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
            
            </div>
        </div>
    </footer>
</div> -->
