<footer>
  <section class="section-top">
    <div class="col">
      <h3>Title</h3>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
      <div>Lorem ipsum dolor sit amet.</div>
      <div>Line 3</div>
    </div>
    <div class="col">
      <h3>Title</h3>
      <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</div>
      <div>Lorem ipsum dolor sit amet.</div>
      <div>Line 3</div>
    </div>
    <div class="col">
      <h3>Title</h3>
      <div>Line 2</div>
      <div>Line 3</div>
    </div>
    <div class="col">
      <h3>Title</h3>
      <div>Line 2</div>
    </div>
  </section>
  <section class="section-bottom">
    <div>Follow</div>
    <div>Copy right</div>
  </section>
  </footer>



<footer>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="col">
        <h4>Projects</h4>

        <a class="google btn">
            <i class="fa fa-google fa-fw"></i> Login with Google
        </a>

        <a class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
        </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>



<!-- <mat-toolbar>
    <mat-toolbar-row class="row1" >
        <div class="col-md-4">

            <h4>Projects</h4>

                    <a class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google
                    </a>

                    <a class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>

        </div>

        <div class="col-md-4">
            <h4>Get Help</h4>

                    <a class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google
                    </a>

                    <a class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>

        </div>
        <div class="col-md-4">
            <h4>Follow Us</h4>

                    <a class="google btn">
                        <i class="fa fa-google fa-fw"></i> Login with Google
                    </a>

                    <a class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                    </a>

        </div>


    </mat-toolbar-row>

    <mat-toolbar-row class="row2" >
        <p><span>All rights reserved.</span> 2019-{{copyrightYear}} &copy; sonta-software limited</p>
    </mat-toolbar-row>

</mat-toolbar>
 -->





<!-- <div class="container">
    <footer class="footer_area">
        <div class="row" id="row1">
            <div class="col-md-8">
                <a class="google btn">
                    <i class="fa fa-google fa-fw"></i> Login with Google
                </a>
                <a class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>
            </div>
            <div class="col-md-8">

                <a class="google btn">
                    <i class="fa fa-google fa-fw"></i> Login with Google
                </a>
                <a class="fb btn">
                    <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                </a>

            </div>
        </div>
    </footer>
</div> -->
