
<div class="footer-area">

    <footer>
        <h1>Footer section</h1>

        <div class="social text-center">
            <h5 class="text-uppercase">Follow me</h5>
            <a href="https://stackoverflow.com/users/10439286/vintage-coder"><i class="fab fa-stack-overflow"></i></a>
            <a href="https://github.com/vintage-coder"><i class="fab fa-github"></i></a>
            <a href="https://www.kaggle.com/gowthamantechy"><i class="fab fa-kaggle"></i></a>
            <a href="https://twitter.com/vintage_coder"><i class="fab fa-twitter"></i></a>
        </div>
        <span id="copyright">Copyright@sonata-software 2019-{{copyrightYear}}. All rights are reserved</span>
      </footer>
    
</div>


