

# Ignoring files and folders in the ASP.NET Core Web API

/EBSystemBackEnd/EBSystem.API/bin
/EBSystemBackEnd/EBSystem.API/obj


/EBSystemBackEnd/EBSystem.Models/bin
/EBSystemBackEnd/EBSystem.Models/obj


/EBSystemBackEnd/EBSystem.Services/bin
/EBSystemBackEnd/EBSystem.Services/obj


/EBSystemBackEnd/EBSystem.Tests/bin
/EBSystemBackEnd/EBSystem.Tests/obj


# Ignoring microservice project structued object and binary

/EBSystemBackEnd/Tests/EBSystem.API.Tests/bin
/EBSystemBackEnd/Tests/EBSystem.API.Tests/obj



/EBSystemBackEnd/Services/EBSystem.Event.API/bin
/EBSystemBackEnd/Services/EBSystem.Event.API/obj

/EBSystemBackEnd/Services/EBSystem.Order.API/bin
/EBSystemBackEnd/Services/EBSystem.Order.API/obj

/EBSystemBackEnd/Services/EBSystem.User.API/bin
/EBSystemBackEnd/Services/EBSystem.User.API/obj


/EBSystemBackEnd/ApiGateway/APIGateWays/bin
/EBSystemBackEnd/ApiGateway/APIGateWays/obj

# Ignoring files and folders in the Angular Project


/EBSystemUI/node_modules
/EBSystemUI/e2e
/EBSystemUI/dist






# Ignoring file extensions

*.vs


