

# Ignoring files and folders in the ASP.NET Core Web API

/EBSystemBackEnd/EBSystem.API/bin
/EBSystemBackEnd/EBSystem.API/obj


/EBSystemBackEnd/EBSystem.Models/bin
/EBSystemBackEnd/EBSystem.Models/obj


/EBSystemBackEnd/EBSystem.Services/bin
/EBSystemBackEnd/EBSystem.Services/obj


/EBSystemBackEnd/EBSystem.Test/bin
/EBSystemBackEnd/EBSystem.Test/obj


# Ignoring files and folders in the Angular Project


/EBSystemUI/node_modules
/EBSystemUI/e2e






# Ignoring file extensions

*.vs


