

mat-toolbar mat-toolbar-row#matrow1
{
    background-color: #032152;
    color: whitesmoke;
}

mat-toolbar mat-toolbar-row h1
{
    font-size: 30px;    
}

mat-toolbar mat-toolbar-row div
{
    float: left;
}

mat-toolbar mat-toolbar-row div a
{    
    text-decoration-line: none;
    
}
 
mat-toolbar mat-toolbar-row h1
{
    margin-left: 30px;
}

#items
{
    margin-left: 400px;
    
}

#items a
{
    font-size: 18px;
}
