 <div class="container">

    <!-- <mat-form-field>
        <mat-label>Custom calendar color</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
    </mat-form-field> -->


    <table class="table">
        <tr>
                
                <td style="vertical-align: middle;">From Date</td>
                <td>
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </td>
                <td style="vertical-align: middle;">To Date</td>
                <td>
                    
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </td>
                <td style="vertical-align: middle;">
                    <button class="btn btn-primary">Search</button>
                </td>

        </tr>
    </table>

</div>

 





































<!-- <table >
    <tr>
            <td style="vertical-align: middle;">Transaction Type :</td>
            <td><mat-form-field>
                            <mat-label>Transaction Type</mat-label>
                            <mat-select [(ngModel)]="selectedTransaction" name="transaction">
                              <mat-option *ngFor="let transaction of transaction" [value]="transaction.value">
                                {{transaction.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field></td>
            <td>Date :</td>
    </tr>
    </table>

    <div class="row">
        <table class="table">
            <tr>
                    
                    <td style="vertical-align: middle;">From Date</td>
                    <td>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td style="vertical-align: middle;">To Date</td>
                    <td>
                        
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td style="vertical-align: middle;">
                        <button class="btn btn-primary">Search</button>
                    </td>

            </tr>
        </table>
    </div> -->


    <!-- <table >
        <tr>
           <th>Name</th>
           <th>Salary</th>
        </tr>
        <tr>
           <td>Ramesh Raman</td>
           <td>5000</td>
        </tr>
        
        <tr>
           <td>Shabbir Hussein</td>
           <td>7000</td>
        </tr>
     </table> -->
<!-- <div class="search">
    <table >
        <tr>

            <td style="vertical-align: middle;">From Date</td>
            <td>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </td>

            <td style="vertical-align: middle;">To Date</td>
            <td>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </td>
            <td style="vertical-align: middle;">
                <button class="btn btn-primary">Search</button>
            </td>

        </tr>
    </table>
</div>

</div>
 -->



<!-- 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  

  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->





<!-- <div class="container"> -->
    <!-- <div class="row">
        <a class="btn btn-success">Add New Event</a>
        <a class="btn btn-success">View All Orders</a>
    </div>
    <div class="row">

    </div> -->

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
  </button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>

</div> -->

<!-- Dashboard page -->
<!-- <h2>Dashboards</h2>
<div class="row">
  <div class="col-4">
        <div class="list-group">
            <a routerLink="/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">Dashboards</a>
            <a routerLink="/about" routerLinkActive="active" class="list-group-item list-group-item-action">About</a>
            <a routerLink="/login" routerLinkActive="active" class="list-group-item list-group-item-action">Logout</a>
        </div>
  </div>
  <div class="col-8">
        <form class="form" [formGroup]="addEventForm" (ngSubmit)="AddEvent()">
            <div class="form-group">
                <div id="item">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter the Name">                    
                </div>               
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Enter the Email">                               
            </div>
            
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" formControlName="username" placeholder="Enter the User Name">
                
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter the Password">
                
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm the Password">            
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-success">Add Event</button>
            </div>
        </form>

   </div>
 
</div>


 -->
